[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cairocffi = "*"
cairosvg = "*"
pillow = "*"
pycairo = "*"
rlpycairo = "*"
spire = "*"
pdf2image = "*"
reportlab = "*"
pyyaml = "*"
svglib = "*"
python-dotenv = "*"
uvicorn = "*"
fastapi = "*"
python-multipart = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
